.header {
  display: flex;
  align-items: center;
  height: 15vh;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: red;
  background-color: white;
  border-radius: 8px;
  padding: 0 5px;
}

.header a:hover {
  opacity: 0.85;
  transition: 0.5s;
}

.header .logo {
  max-height: 36px;
  border-radius: 25%;

}


.header .title-group {
  padding-left: 45px;
  cursor: pointer;
}

